@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #004497;
  --sidebar-width: 260px;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #ffffff;
    --foreground: #171717;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  .bg-animated-gradient {
    background: linear-gradient(
      -45deg,
      #004497,
      #1c56a3,
      #4f88c3
    );
    background-size: 400% 400%;
    animation: gradientFlow 3s ease infinite;
  }

  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
@layer utilities {

  /* Floating animation */
  .animate-float-slow {
    animation: floatSlow 18s ease-in-out infinite;
  }

  @keyframes floatSlow {
    0% {
      transform: translate(0px, 0px);
    }
    25% {
      transform: translate(40px, -60px);
    }
    50% {
      transform: translate(-30px, -120px);
    }
    75% {
      transform: translate(-60px, -40px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }


  /* Morph + drift animation */
  .animate-morph {
    animation: morphMove 22s ease-in-out infinite;
  }

  @keyframes morphMove {
    0% {
      transform: translate(0px, 0px) scale(1);
      border-radius: 40%;
    }

    25% {
      transform: translate(80px, -50px) scale(1.1);
      border-radius: 50%;
    }

    50% {
      transform: translate(-60px, -120px) scale(0.9);
      border-radius: 60%;
    }

    75% {
      transform: translate(-100px, 40px) scale(1.05);
      border-radius: 45%;
    }

    100% {
      transform: translate(0px, 0px) scale(1);
      border-radius: 40%;
    }
  }

}
